<!DOCTYPE html>
<html xmlns:th="http://www.thympleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Gnosis Bookstore</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	
	<header th:insert="fragment/nav-bar-client.html :: page-header"></header><br>
	<div class="d-flex bd-highlight mb-3 top">
	  <div class="me-auto p-2 bd-highlight"><h1>Gnosis Bookstore</h1></div>
	  <div class="p-2 bd-highlight">
	  	<a href="/cart">
	  	<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
  			<path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
		</svg>
	  	</a>
	  </div>
	</div>
	
	<br>
	<img alt="" src="/image/banner/xmas-banner6.webp" class="banner">
	<br><br><br>
	
	<div th:if="${books.empty}" class="top">
		<h3 style="font-style: italic">**No Book is Found**</h3>
	</div>
	
	<div class="container text-center bottom">
		<p th:if="${message}" th:text="${message}"></p>
		<div th:each="book:${books}" class="client-view-books">
		<div class="client-view-book text-center" >
			<p th:text="@{book.isbn}" style="visibility:hidden"></p>
			<p><a href = "#" th:href = "|/book-detail/${book.isbn}|"> <img th:src="${book.image}" width = "200" height = "240"></a></p>
			<p><a th:text="${book.title}" href="#" th:href="|/book-detail/${book.isbn}|"></a></p>
			<p th:text="${book.author}"></p>
			<p th:text="|$${book.getDisplayedPrice()}|"></p>
		</div>
		</div>
	</div>	
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>
</body>
</html>