<!DOCTYPE html>
<html xmlns:th="http://www.thympleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Edit Book</title>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>
<link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body>
	
	<header th:insert="fragment/nav-bar-staff.html :: page-header"></header><br>
	<section class="top">
	<h1>Gnosis Bookstore Inventory</h1>
	<h2>Edit Book's Information</h2>
	<br><br>
	<form action="#" th:action="@{/updateBook}" method = "POST" th:object="${book}">
		<div class="form-input">
        	<label for="isbn">ISBN:</label>
        	<input id="isbn" name="isbn" type="number" th:field="*{isbn}" required autofocus />
      	</div>
		<div class="form-input">
        	<label for="image">Image:</label>
        	<input id="image" name="image" type="file" th:field="*{image}" />		    	
      	</div>
		<div class="form-input">
        	<label for="title">Title:</label>
        	<input id="title" name="title" type="text" th:field = "*{title}" required />
      	</div>
		<div class="form-input">
        	<label for="author">Author:</label>
        	<input id="author" name="author" type="text" th:field="*{author}" required />
      	</div>
		<!-- <div class="form-input">
        	<label for="name">Your name:</label>
        	<input id="name" name="username" type="text" autofocus />
      	</div> -->
		<div class="form-input">
        	<label for="category">Category:</label>
			<select th:field="*{category}" required>
				<option th:each="c : *{categories}" th:value="${c}" th:text="${c}"></option>
			</select>        	
      	</div>
		<div class="form-input">
        	<label for="price">Price:</label>
        	<input id="price" name="price" type = "number" th:field="*{price}" value = "" min = "0" step = ".01" required />
      	</div>
      	<div class="form-input">
        	<label for="quantity">Quantity:</label>
        	<input id="quantity" name="quantity" type = "number" th:field="*{inventoryQuantity}" value = "" min = "0" required />
      	</div>      	
		<div>
			<input type="hidden" th:value="${originalImage}" name="originalImage">
		</div>
		<br>
		<p>
			<input type = "submit" class="btn btn-dark">
		</p>
		
	</form>
	</section>
</body>
</html>